{
    "check-coverage": false,
    "per-file": true,
    "skip-full": true,
    "include": [
        "src/**/*"
    ],
    "exclude": [
        "src/**/*.{json}",
        "**/*.d.ts"
    ],
    "reporter": [
        "lcov",
        "text",
        "text-summary"
    ],
    "extension": [
        ".js",
        ".ts",
        ".vue"
    ],
    "cache": true,
    "all": true
}