$spl-color-very-light-primary: #FCCA26;
$spl-color-light-primary: #F7B31F;
$spl-color-primary: #DF8E03;
$spl-color-dark-primary: #EA8525;
$spl-color-very-dark-primary: #E67C1E;

$spl-color-off-white: #FEFEFE;
$spl-color-very-light-gray: #CCCCCC;
$spl-color-light-gray: #BBBBBB;
$spl-color-gray: #A0A0A0;
$spl-color-dark-gray: #797979;
$spl-color-very-dark-gray: #494949;
$spl-color-off-black: #333333;

$spl-color-light-danger: #F05A5A;
$spl-color-danger: #DF3E27;
$spl-color-dark-danger: #BF2812;

$spl-color-light-warning: #FAFA4F;
$spl-color-warning: #F2DD13;
$spl-color-dark-warning: #F3CC1F;

$spl-color-light-info: #42D6F3;
$spl-color-info: #0BB1EF;
$spl-color-dark-info: #0FA0E5;

$spl-color-light-flamingo: #F394D9;
$spl-color-flamingo: #EC67C7;
$spl-color-dark-flamingo: #C542A1;

$spl-title-bar-height: 20px;

$color-black: #222222;
$color-dark-gray: #3d3d3d;
$color-mid-gray: #424242;
$color-light-gray: #7e7e7e;
$color-white: #efefef;

$color-primary: #1b9fb3;
$color-secondary: #0a6675;
$color-success: #69d656;
$color-alert: rgb(202, 69, 69);

$spl-themes: () !default;
