$color-black: #222222;
$color-dark-gray: #3d3d3d;
$color-mid-gray: #424242;
$color-light-gray: #7e7e7e;
$color-white: #efefef;

$color-primary: #1b9fb3;
$color-secondary: #0a6675;
$color-success: #69d656;
$color-alert: rgb(202, 69, 69);