@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/NotoSans-Regular.ttf') format('truetype');
};

@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 400;
    src: url('assets/fonts/NotoSans-Italic.ttf') format('truetype');
};

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/NotoSans-Bold.ttf') format('truetype');
};

@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 700;
    src: url('assets/fonts/NotoSans-BoldItalic.ttf') format('truetype');
};