@import './core';
@import './fonts';

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
     // Set REM
    font-size: 16px;

    // Remove margin
    margin: 0;

    // Make disable text-selection
    user-select: none;

    // Set default typography settings
    font-family: 'Noto Sans', sans-serif;
    color: $spl-color-off-white;

    // Prevent overflow
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background: $spl-color-very-dark-gray;
    margin: 0;
    height: 100%;
    width: 100%;
}

// [ TYPOGRAPHY ]
// -----------------------

p, div, span  {
    font-family: inherit;
    color: inherit;
    font-size: 1rem;
    box-sizing: border-box;
}

h1 {
    font-family: inherit;
    color: inherit;
    margin-top: 1rem;
    margin-bottom: 1.8rem;
    font-size: 2.2rem;
}

h2 {
    font-family: inherit;
    color: inherit;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
}

h3 {
    font-family: inherit;
    color: inherit;
    margin-top: 1rem;
    margin-bottom: 1.8rem;
    font-size: 1.6rem;
}

h4 {
    font-family: inherit;
    color: inherit;
    margin-top: 1rem;
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
}

// [ LAYOUT ]
// -----------------------

.container {
    width: 100%;
    padding: 0 1.5rem;
    box-sizing: border-box;
}
