@import './core';
@import './fonts';

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
     // Set REM
    font-size: 14px;

    // Remove margin
    margin: 0;

    // Make disable text-selection
    user-select: none;

    // Set default typography settings
    font-family: 'Noto Sans', sans-serif;
    color: $spl-color-off-white;

    // Prevent overflow
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background: $spl-color-very-dark-gray;
    margin: 0;
    height: 100%;
    width: 100%;
}

// [ TYPOGRAPHY ]
// -----------------------

p, div, span  {
    font-family: inherit;
    color: inherit;
    font-size: 1rem;
    box-sizing: border-box;
}

h1 {
    font-family: inherit;
    color: inherit;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    font-size: 2rem;

    .sub {
        font-size: 1.5rem;
    }
}

h2 {
    font-family: inherit;
    color: inherit;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    font-size: 1.5rem;
    
    .sub {
        font-size: 1.125rem;
    }
}

h3 {
    font-family: inherit;
    color: inherit;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.1875rem;

    .sub {
        font-size: 0.937rem;
    }
}

h4 {
    font-family: inherit;
    color: inherit;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;

    .sub {
        font-size: 0.8125rem;
    }
}

// [ LAYOUT ]
// -----------------------

.container {
    width: 100%;
    padding: 0 1.5rem;
    box-sizing: border-box;
}

// [ SCROLLBARS ]
// -----------------------

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: $spl-color-dark-gray;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track {
    background: none;

    &:horizontal {
        height: 6px;
    }
    
    &:vertical {
        width: 6px;
    }
}

::-webkit-scrollbar-thumb {
    opacity: 0;
    transition: 200ms;
    background: $spl-color-off-black;

    &:not(:window-inactive):hover {
        opacity: 1;
    }
}
